body {
  /*background: linear-gradient(to left, grey, rgba(0, 255, 0, 0))*/
  background-color: rgba(206, 206, 206, 0.5);
}
/*début du contenu --> concerne la description du portfolio et des auteurs*/
dd, p {
  font-family: 'Playfair Display', serif;
  font-size: 1.75em;
}

/*header*/
/*logo agrandit*/
header img {
  width: 120px;
}

/*to change the police and height of title*/
header h1 {
  font-size: 600%;
  -moz-font-family: 'Playfair Display', serif;
  -webkit-font-family: 'Playfair Display', serif;
}

/*début des media queries*/
/*logo apparaît au centre pr les 600px*/
@media screen and (max-width: 600px) {
  header img {
    margin-left: 35%;
    width: 40%;
  }
}

/*choix de vouloir aligner le logo et le h1 et de le laisser apparaître pr les 768px*/
@media screen and (max-width: 768px) {
  header h1, header img {
    text-align: center;
    display: inline-block;
  }
  header img {
    width: 25%;
  }
}

/*logo apparaît au centre*/
@media screen and (max-width: 320px) {
  header img {
    margin-left: 30%;
    width: 35%;
  }
}
